/* HEADER REGION  */

body{
    height: 0 auto;
}
#header-container {
    width: 100%;
    height: 100px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(119,130,135,0.38699229691876746) 0%, rgba(158,158,158,0.4234068627450981) 100%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#header-container #header {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
}

#header-container #header #logo {
    height: 100px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header-container #header #logo a {
    margin: none;
}

#header-container #header #logo img {
    width: 80px;
    height: 80px;
}

#menu {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
}

#menu .item {
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    color: #FFF;
}

#menu .item:hover {
    text-decoration: underline;
}

#menu .item a {
    text-decoration: none;
    color: black;
}

#menu .item a:hover {
    color: #FFF;
}


/* END HEADER REGION */

/* START BODY REGION */

#body-container {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(56,85,139,0.38699229691876746) 100%, rgba(175,166,166,0.9836309523809523) 100%);
    width: 100%;
    min-height: calc(100vh - 100px);
    padding: 0 10% 0 10%;
    display: flex;
    flex-direction: row;
}

#side-menu {
    display: flex;
    flex-direction: column;
    width: 250px;
    padding: 0px 5px 5px 5px;
    border: blue;
}

#side-menu .menu-header {
    color: #FFF;
    margin: 20px 0 10px 0;
}

#side-menu .item {
    margin: 2px 0 2px 0;
    min-width: 10px;
}

#side-menu .item a {
    cursor: pointer;
    color: #66c0f4;
    text-decoration: none;
}

#side-menu .item a:hover {
    color: #FFF;
    text-decoration: underline;
}

#body-container #content {
    width: calc(100vw - 250px);
    padding: 20px 10px 10px 10px;
    display: flex;
    flex-direction: column;
}

#content #header {
    font-weight: bold;
    color: #FFF;
    letter-spacing: 1px;
    padding-left: 5px;
}


/* END BODY REGION */

/* START GAME SECTION */

#game-title {
    color: #FFF;
    margin: 0;
    padding: 0;
}

#game-data {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    margin-top: 10px;
}

#photo-container {
    width: 60%;
}

#photo-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

#description-container {
    width: 40%;
    color: #FFF;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

#description-container h2 {
    padding: 0;
    margin: 0;
}

.generic-info {
    width: 100%;
    margin-top: 10px;
}

.generic-info .tag {
    color: rgb(102, 192, 244);
    font-weight: bold;
}

.generic-info .value {
    margin-top: 3px;
}

/* END GAME SECTION */

/* START ABOUT SECTION */

#about-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}

#about-container #data {
    width: 50%;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    flex-direction: column;
}

#about-container #data p {
    color: #FFF;
    font-weight: bold;
    font-size: 20px;
}

#about-container #data #info {
   width: 100%;
   display: flex;
   flex-direction: row;
}

#about-container #data #info .info-data {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#about-container #data #info .info-data .title {
    font-weight: bold;
    color: #b8b6b4;
    font-size: 13px;
}

#about-container #data #info .info-data .value {
    font-weight: bold;
    color: #fff;
    font-size: 35px;
}

#vapor-install {
    background-color: rgb(59, 173, 255);
    border: none;
    height: 50px;
    width: 200px;
    color: #FFF;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

#vapor-install:hover {
    background-color: rgb(53, 156, 229);
    transition: 300ms;
    
}

#about-container #photo {
    width: 50%;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    flex-direction: column;
}

#about-container #photo img {
    width: 100%;
    border-radius: 5px;
}

/* END ABOUT SECTION */


/* START GAME LIST SECTION  */

#content #game-list {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

#content #not-found {
    color: #FFF;
    width: 100%;
    text-align: center;
}

#content #game-list a {
    text-decoration: none;
}

#content #game-list .game {
    display: flex;
    height: 150px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #69727a;
    margin: 5px;
}

#content #game-list .game .photo {
    width: 20%;
}

#content #game-list .game .photo img {
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    margin: 5px;
    border-radius: 5px;
    object-fit: cover;
}


#content #game-list .game .info {
    display: flex;
    width: 60%;
    padding: 10px;
    flex-direction: column;
}

#content #game-list .game .info .title {
    color: #FFF;
    font-size: 20px;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

#content #game-list .game .info .platforms {
    display: flex;
    flex-direction: row;
}

#content #game-list .game .info .sub-block {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    color: #FFF;
    font-size: 12px;
}

#content #game-list .game .info .sub-block:first-of-type {
    margin-left: 0;
}


#content #game-list .game .info .platforms .platform {
    background-color: #454b50;
    
}

#content #game-list .game .info .idioms {
    display: flex;
    flex-direction: row;
}

#content #game-list .game .info .idioms .idiom {
    background-color: #747f89;
}

#content #game-list .game .info .release-date {
    color: #FFF;
    font-size: 13px;
    letter-spacing: 1px;
    margin-top: 10px;
}

#content #game-list .game .price {
    display: flex;
    width: 20%;
    padding: 10px;
    align-items: center;
    justify-content: center;
    color: #FFF;
    font-weight: bold;
    font-size: 30px;
}




/* inicio pagina suporte */

h3{
    text-align: center;
}
#formulario_suporte {
    width: 850px;
    height: 370px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 2px;
    margin-top: 65px;

}
.campo_form {
    margin-bottom: 20px;
    height: 60px;
    border-radius: 10px;
    width: 50%;
    
    
}

#assunto{
    margin-bottom: 20px;
    height: 60px;
    border-radius: 10px;
    width: 50%;
    
}
#mensagem{
    border-radius: 10px;
    margin-bottom: 20px;
    min-width: 415px;
    max-width: 415px;
    min-height: 124px;
    max-height: 124px;
}
#botao{
    width: 20%;
    border-radius: 10px;
}
#titulo{
    padding-left: 15px;
    padding-top: 20px;
    color: #fff;
    margin: 0;
}

.success-message{
    width: 30%;
    background-color: #58e374;
    margin-left: 290px;
    text-align: center;
    margin-top: 20px;
    border-radius: 5px;
    color: #FFF;
    line-height: 30px;
    
    
}

